.container {
  padding: 0.2em;
  width: 50%;
}

.video {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
  box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.2);
}

.video:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 40%;
  height: 100%;
}

.metaData {
  margin-left: 0.2em;
}

.title,
.channelTitle {
  margin: 0;
  font-size: 0.8rem;
}

.channelTitle {
  font-size: 0.6rem;
}
